<%= form_for @person, :html => { :class => "form-horizontal person" } do |f| %>

  <% if @person.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :name, :style => 'margin-left: 1.5em' %>
    <%= f.text_field :name, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%= f.error_span(:name) %>
  </div>
  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :email, :style => 'margin-left: 1.5em' %>
    <%= f.email_field :email, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%= f.error_span(:email)  %>
  </div>
  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :username, :style => 'margin-left: 1.5em' %>
    <%= f.text_field :username, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%= f.error_span(:username) %>
  </div>
  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :faculty_id, :style => 'margin-left: 1.5em' %>
    <%= f.text_field :faculty_id, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%= f.error_span(:faculty_id) %>
  </div>

  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <div class="ml-auto text-right" style="margin-right: 1.5em;">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
