<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @person.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @person.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:username) %>:</strong></dt>
  <dd><%= @person.username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:faculty_id) %>:</strong></dt>
  <dd><%= @person.faculty_id %></dd>
  <dt><strong><%= I18n.t('publications') %>:</strong></dt>
  <dd>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:title) %></th>
            <th><%= model_class.human_attribute_name(:published) %></th>
            <th><%= model_class.human_attribute_name(:abstract) %></th>
          </tr>
        </thead>
        <tbody>
          <% @person.publications.each do |publication| %>
            <tr>
              <td><%= link_to publication.id, publication_path(publication) %></td>
              <td><%= publication.title %></td>
              <td><%= publication.published? %></td>
              <td><%= publication.abstract %></td>
                
            </tr>
          <% end %>
        </tbody>
      </table>
  </dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_person_path(@person), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              person_path(@person),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger',
              :style => 'color: white' %>
