<%= form_for @publication, :html => { :class => "form-horizontal publication" } do |f| %>

  <% if @publication.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @publication.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :title, :style => 'margin-left: 1.5em; width: calc(100% - 3em)'  %>
    <%= f.text_field :title, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)'%>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :published, :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%= f.date_field :published, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%=f.error_span(:published) %>
  </div>
  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :abstract, :style => 'margin-left: 1.5em; width: calc(100% - 3em)'  %>
    <%= f.text_area :abstract, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)'%>
    <%=f.error_span(:abstract) %>
  </div>
  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :person_id, :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%= f.text_field :person_id, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)'%>
    <%=f.error_span(:person_id) %>
  </div>

  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <div class="ml-auto text-right" style="margin-right: 1.5em;">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                publications_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
