<%= form_for @faculty, :html => { :class => "form-horizontal faculty" } do |f| %>

  <% if @faculty.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@faculty.errors.count, "error") %> prohibited this faculty from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @faculty.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :name, :style => 'margin-left: 1.5em' %>
    <%= f.text_field :name, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :code, :style => 'margin-left: 1.5em'  %>
    <%= f.text_field :code, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%=f.error_span(:code) %>
  </div>
  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <%= f.label :note, :style => 'margin-left: 1.5em'  %>
    <%= f.text_area :note, :class => 'form-control', :style => 'margin-left: 1.5em; width: calc(100% - 3em)' %>
    <%=f.error_span(:note) %>
  </div>

  <div class="form-group" style="margin-left: 0; margin-right: 0;">
    <div class="ml-auto text-right" style="margin-right: 1.5em;">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                faculties_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
