<h1>Home</h1>
<p>Find me in app/views/home/index.html.erb</p>
<ul>
    <li><%= link_to 'Faculties', faculties_path %></li>
    <li><%= link_to 'People', people_path %></li>
    <li><%= link_to 'Publications', publications_path %></li>
</ul>